* {
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
}

a {
    color: inherit;
    text-decoration: none;

}

.header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;

    border-bottom: 1px solid #d9d9d9;
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1170px;
    margin: 0 auto;
}

.header .gnb {
    margin-left: auto;
}

.header .gnb ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header .gnb ul li {
    font-size: 14px;
    font-weight: 500;
}

.header .inner .util {
    margin: 0 0 0 auto;
}

.header .inner .util>ul {
    display: flex;
    gap: 16px;

    flex-direction: row;
    color: #fff;
}

.header .inner .util>ul>li {
    background: #f3bdc6;
    padding: 6px 22px;
    border-radius: 100px;
}

.header .mopen {
    display: none;
}

@media (max-width: 768px) {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .header .inner {
        max-width: 1170px;
        margin: 0 24px;
        height: 80px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10000;

        width: calc(100% - 90px);
        height: 100vh;
        background: #f1abb8;

        padding: 120px 24px 0 24px;

        transition: 0.4s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb ul {
        display: flex;
        gap: 0;

        flex-direction: column;
    }

    .header .gnb ul li {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }

    .header .gnb ul li a {
        display: block;
        line-height: 40px;
    }

    .header .util {
        display: none;
    }

    .header .mopen {
        display: block;
        color: #fda5b4;
    }
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide {
    height: 890px;
}

.main_visual .wrap img {
    width: 100%;
}


.main_visual .wrap {
    display: flex;
    justify-content: space-between;
}

.main_visual .wrap>* {
    overflow: hidden;
    flex: 0 0 50%;
}

.main_visual .wrap .main_visual_desc {
    position: relative;
    background: #f2bdc7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.main_visual .wrap .main_visual_desc strong {
    display: block;
    font-size: 64px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    border-bottom: 1px solid #fff;
    padding: 16px 0;

}

.main_visual .wrap .main_visual_desc h2 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

.main_visual .arrows {
    position: absolute;
    top: calc(50% + 120px);
    left: calc(50% + 80px);
    z-index: 999;
}

@media (max-width: 768px) {
    .main_visual {
        position: relative;
    }

    .main_visual .main_visual_slide {
        height: 860px;
    }

    .main_visual .wrap img {
        width: 100%;
    }


    .main_visual .wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main_visual .wrap>* {
        overflow: hidden;
        flex: 0 0 50%;
    }

    .main_visual .wrap .main_visual_desc {
        position: relative;
        background: #f2bdc7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 80px;
    }

    .main_visual .wrap .main_visual_desc strong {
        display: block;
        font-size: 32px;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0 0 16px 0;
        border-bottom: 1px solid #fff;
        padding: 16px 0;

    }

    .main_visual .wrap .main_visual_desc h2 {
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .main_visual .arrows {
        position: absolute;
        top: auto;
        left: auto;

        bottom: 110px;
        right: 80px;
        z-index: 998;
    }
}

.main_slide {
    position: relative;
    padding: 80px 0;
    max-width: 1170px;
    margin: 0 auto;
}

.main_slide .tit {
    margin: 0 0 40px 0;
}

.main_slide .tit h2 {
    font-size: 24px;
    font-weight: 700;
}

.main_slide .tit .more {
    font-size: 12px;
    font-weight: 500;
    float: right;
    line-height: 24px;
}

.main_slide .inner {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_product {
    margin: 0 -15px;
}

.slide_product .itm {
    padding: 0 15px;
}

.slide_product .itm img {
    width: 100%;
    margin: 0 0 24px 0;
}

.slide_product .itm .desc {
    margin: 0 0 24px 0;

}

.slide_product .itm strong {
    padding: 0 10px 0 0;
    font-size: 24px;
    font-weight: 600;
}

.slide_product .itm .sub {
    font-size: 12px;
    color: #f2bdc6;
}

.slide_product .itm p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    margin: 0 0 24px 0;
    padding: 12px 0 0 0;
    border-top: 1px solid #d9d9d9;
}

.slide_product .buying {
    display: flex;
    justify-content: space-between;
    background: #f2bdc6;
    border-radius: 100px;
}

.slide_product .buying a {
    font-size: 14px;
    display: block;
    color: #fff;
    padding: 8px 24px;
}

.slide_product .slick-dots {
    margin: 40px 0 0 0;
    text-align: center;
}

.slide_product .slick-dots li {
    display: inline-block;
}

.slide_product .slick-dots button {
    border: none;
    background: #f8e3e7;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.slide_product .slick-dots li.slick-active button {
    background: #f2bdc6;
}

@media (max-width: 768px) {
    .main_slide {
        position: relative;
        padding: 40px 0;
        max-width: 1170px;
        margin: 0 24px;
    }

    .main_slide .tit {
        margin: 0 0 40px 0;
    }

    .main_slide .tit h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .main_slide .tit .more {
        font-size: 12px;
        font-weight: 500;
        float: right;
        line-height: 24px;
    }

    .main_slide .inner {
        max-width: 1170px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide_product {
        margin: 0 -15px;
    }

    .slide_product .itm {
        padding: 0 15px;
    }

    .slide_product .itm img {
        width: 100%;
        margin: 0 0 24px 0;
    }

    .slide_product .itm .desc {
        margin: 0 0 24px 0;
    }

    .slide_product .itm strong {
        padding: 0 10px 0 0;
        font-size: 24px;
        font-weight: 600;
    }

    .slide_product .itm .sub {
        font-size: 12px;
        color: #f2bdc6;
    }

    .slide_product .itm p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        display: block;
        margin: 0 0 24px 0;
        padding: 12px 0 0 0;
        border-top: 1px solid #d9d9d9;
    }

    .slide_product .buying {
        display: flex;
        justify-content: space-between;
        background: #f2bdc6;
        border-radius: 100px;
    }

    .slide_product .buying a {
        font-size: 14px;
        display: block;
        color: #fff;
        padding: 8px 24px;
    }

    .slide_product .slick-dots {
        margin: 20px 0 0 0;
        text-align: center;
    }

    .slide_product .slick-dots li {
        display: inline-block;
    }

    .slide_product .slick-dots button {
        border: none;
        background: #f8e3e7;
        color: #fff;
        font-size: 12px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 4px;
    }

    .slide_product .slick-dots li.slick-active button {
        background: #f2bdc6;
    }
}

.main_movie {
    position: relative;
}

.main_movie .tit h2 {
    text-align: center;
    color: #fff;
}

.main_movie .tit .desc {
    text-align: center;
    color: #fff;
}

.main_movie .switch {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    background: transparent;
}

.main_movie .switch::after {
    content: "\ea3b";
    font-family: xeicon;
    display: block;
    width: 40px;
    height: 40px;
    background: #f2bdc6;
    line-height: 40px;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255);
    font-size: 24px;
    color: #fff;
}

.main_movie .switch.on::after {
    content: "\ea3e";
}

.default {
    padding: 120px 0;
}

@media (max-width: 768px) {
    .main_movie {
        position: relative;
        margin: 0 24px;
    }

    .main_movie .tit h2 {
        text-align: center;
        color: #fff;
    }

    .main_movie .tit .desc {
        text-align: center;
        color: #fff;
    }

    .main_movie .switch {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        border: none;
        background: transparent;
    }

    .main_movie .switch::after {
        content: "\ea3b";
        font-family: xeicon;
        display: block;
        width: 40px;
        height: 40px;
        background: #f2bdc6;
        line-height: 40px;
        border-radius: 50%;
        border: 8px solid rgba(255, 255, 255);
        font-size: 24px;
        color: #fff;
    }

    .main_movie .switch.on::after {
        content: "\ea3e";
    }

    .default {
        padding: 120px 0;
    }
}

.main_visual03 {
    background: #f2bdc7;

}

.main_visual03 .wrap .top {
    padding: 80px 0 40px 0;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.main_visual03 .wrap .img_w {
    text-align: center;
}

.main_visual03 .wrap .bottom {
    padding: 40px 0 80px 0;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .main_visual03 {
        background: #f2bdc7;
        margin: 0 24px;
    }

    .main_visual03 .wrap .top {
        padding: 40px 0 20px 0;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }

    .main_visual03 .wrap .img_w {
        text-align: center;
    }

    .main_visual03 .wrap .bottom {
        padding: 20px 0 40px 0;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
}

.movie {
    padding-top: 80px;
}

.movie .inner {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0 80px;
}

.movie .inner>* {
    flex: 1;
}

.movie .ytb {
    position: relative;
    padding-bottom: 56.25%;
    background: tomato;
}

.movie .ytb iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .movie {
        padding-top: 40px;
    }

    .movie .inner {
        display: flex;
        flex-direction: column;
        max-width: 1170px;
        margin: 0 24px;
        padding: 0 0 40px;
    }

    .movie .inner>* {
        flex: 1;
    }
}

.footer {
    padding: 40px 0;
    background: #f9f9f9;
}

.footer .inner {
    max-width: 1170px;
    margin: 0 auto;
}

.footer .footer__menu {
    display: flex;
    align-items: center;
    color: #666;
}

.footer .footer__menu .customer {
    display: flex;
    gap: 30px;
}

.footer .footer__menu .customer li {
    position: relative;
}

.footer .footer__menu .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;

    transform: translate(0, -50%);
    width: 2px;
    height: 10px;
    background: #d9d9d9;
}

.footer .footer__menu .customer li a {
    display: block;
    font-size: 16px;
}

.footer__right {
    margin-top: 40px;
    border-top: 1px solid #d9d9d9;
    padding-top: 40px;
    font-style: normal;
    line-height: 1.6;
    color: #666;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer {
        padding: 20px 0;
        background: #f9f9f9;
    }

    .footer .inner {
        max-width: 1170px;
        margin: 0 24px;
    }

    .footer .footer__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #666;
    }

    .footer .footer__menu .customer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer .footer__menu .customer li {
        position: relative;
    }

    .footer .footer__menu .customer li~li::before {
        content: "";
        background: none;
    }

    .footer .footer__menu .customer li a {
        display: block;
        font-size: 16px;
    }

    .footer__right {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #d9d9d9;
        padding-top: 20px;
        font-style: normal;
        line-height: 1.6;
        color: #666;
        font-size: 14px;

    }
}

.to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

}

.to_top.on {
    opacity: 1;
    visibility: visible;

}

.to_top i {
    padding: 16px;
    background: #f5a1b0;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    transform: rotate(90deg);
}